%h1 Editing Continent:  #{@continent.name.capitalize}
.error-form
  = (render 'form').html_safe

%br

= link_to 'Show', @continent, :class => "btn btn-default"
= link_to 'Back', continents_path, :class => "btn btn-default"
   